nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f56ab;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  color: #1f56ab;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  padding-top: 50px;
}

#main {
  text-align: center;
}

#img-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#tribute-info {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: justify;
  text-indent: 20px;
  font-size: 14px;
  width: 80%;
}

img {
  display: block;
  max-width: 100%;
  align-items: center;
}

.container {
  display: grid;
  min-height: 300px;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.socmed {
  display: flex;
  justify-content: center;
}
.socmed a {
  color: black;
  text-decoration: none;
}

i {
  font-size: 30px;
  margin: 0 20px;
}
